* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
}

.dashboard-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #001f3f; /* Bleu nuit */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.sidebar ul li a:hover {
    color: #39a078; /* Vert olive */
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

h1, h2 {
    color: #001f3f;
}

.dashboard-cards {
    display: flex;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.card h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #39a078; /* Vert olive */
}

.card p {
    font-size: 2rem;
    color: #001f3f;
}

.product-form {
    display: flex;
    flex-direction: column;
}

.product-form label {
    margin-bottom: 5px;
    color: #001f3f;
}

.product-form input, 
.product-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.product-form input[type="file"] {
    padding: 0;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table thead tr {
    background-color: #001f3f; /* Bleu nuit */
    color: #ffffff;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #001f3f;
}

.btn-primary {
    background-color: #39a078; /* Vert olive */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    margin: 5px 0;
}

.btn-primary:hover {
    background-color: #2e815f;
}
